[Unit]
Description=Setup platform s9705-48d
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-ufispace-s9705-48d-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
