[Unit]
Description=Setup platform s9710-76d
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-ufispace-s9710-76d-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
