[Unit]
Description=Setup platform s9501-28smt
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-ufispace-s9501-28smt-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
